html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#bg{
    height: 100%;
}

.b_r{
    text-align: center;
    margin: 0 auto;
    display: table;
    height: 100%;
}

.b_a{
    display: table-cell;
    vertical-align: middle;
}

h1{
    color: #fff;
    margin: 0;
    font-size: 152px;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}

p{
    color: #fff;
    margin: 0;
    font-family: Arial;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 14px;
    letter-spacing: 10px;
}